.name {
    color: var(--text_main);
    font-size: 16px;
    font-family: var(--poppins);
    font-weight: 700;
}

.invert {
    color: var(--text_white);
}

.header {
    color: var(--black) !important;
    font-size: 35px;
}

.medium {
    color: var(--black) !important;
    font-size: 25px;
}

.large {
    font-size: 25px;
    font-weight: 900;
    padding: 0 !important;
    margin-left: 0;
}

.center {
    text-align: center;
}